################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorColorPickerIssue
/BlazorColorPickerIssue.Client/bin/Debug/net8.0
/BlazorColorPickerIssue.Client/obj/Debug/net8.0
/BlazorColorPickerIssue.Client/obj
/BlazorColorPickerIssue/bin/Debug/net8.0
/BlazorColorPickerIssue/obj
*.user
